/* Override some stuff from Essential */

body {
    font-size: 15px;
}

h3 {
    font-size: 20px;
    color:#023773;
    line-height: 20px;
}

h2.pagetitle {
    font-size: 20px;
    line-height: 35px;
    color: #023773;
}

.path-mod-book .block_book_toc li {
    list-style: none;
    font-size: 13px;
}

.row.header, .forumpost .row .content-mask,
.path-course-view .unread, span.unread {
    background-color: #f5f5f5;
}

a, a:visited {
    color: #3171B9;
}

.course-content ul.gridicons li.currentselected {
    background-attachment:  scroll;
    background-clip:        border-box;
    background-color:       #f5f5f5;
    background-image:       none;
    background-origin:      padding-box;
    background-position:    0 0;
    background-repeat:      repeat;
    background-size:        auto auto;
    opacity:                1;
}

.nav-tabs > li > a {
    line-height: 8px;
}

.instancename{
    font-size:      17px;
    text-shadow:    0px 0px 20px #fff;
    /* font-family:    "Trebuchet MS",Arial,Helvetica,sans-serif; */
    font-weight:    bolder !important;
}

.activityinstance {
    border-bottom-color:    #CCCCCC;
    border-bottom-style:    dashed;
    border-bottom-width:    1px;
    list-style-image:       none;
    list-style-position:    outside;
    list-style-type:        none;
    padding-bottom:         4px;
    padding-top:            2px;
}

#gridshadebox_content .activity {
    border-bottom-color:    #fff;
    border-bottom-style:    dashed;
    border-bottom-width:    1px;
    list-style-image:       none;
    list-style-position:    outside;
    list-style-type:        none;
    padding-bottom:         4px;
    padding-top:            2px;
}



.breadcrumb {
    font-size: 1em;
    text-transform: none;
    font-style: italic;
}

h1#title {
    color:      #023773;
    font-size:  2.1em;
    margin-top: -2px;
}

h2#subtitle {
    font-size:      1em;
    letter-spacing: 0.15em;
    margin-top:     -10px;
    text-transform: uppercase;
    white-space:    nowrap;
}

#headerlogo {
    color:          #444;
    float:          left;
    font-size:      4.5em;
    margin-right:   10px;
    padding-right:  5px;
    margin-top:     -2px;
    position:       relative;
    top:            10px;
}

h1, h2, h3, h4, h5, h6 {
    /* font-family:"Trebuchet MS",Arial,Helvetica,sans-serif; */
}

.breadcrumb-nav ul.breadcrumb.style2 li a {
    color: #0070A8;
}

.forumpost .subject {
    font-size: 1.2em;
    margin-bottom: 0;
    margin-top: 3px;
}

.course_category_tree .fa {
    font-size: 70px;
    width: 100%;
}

td.template-token.cell.c1.lastcol input[type="checkbox"]+label {
    display: inline-block;
    width: 95%;
}

td.template-token.cell.c1.lastcol {
    max-width: 600px;
}

.anchor {
    display:    block;
    height:     213px;
    margin-top: -213px;
    visibility: hidden;
}

.path-mod-forum .forumheaderlist td {
    border: none;
}

.coursetitle {
    text-align:center;
}

@media (max-width: 980px){
    .navbar {
        position: absolute;
    }
}

.footercredit{ display:none; }

.navbar .navbar-inner #custom_menu_activitystream{display:none;}

/* Modification to RSS Plus styles */
.rsslink{
    background: #ffffff !important ;
    padding-left: 4px;
    padding-right: 4px;
}

.rsslink a {
    font-weight:bold;
}

.rssdescription{
    padding:4px;
}
/* End modification to RSS Plus styles */

/* Social icons */
.socials img:hover {
    box-shadow: none;
}

ul.socials li {
    padding: 0 0 0 5px;
}
